<h2 mat-dialog-title class="dialog-title">Mis Medallas Conseguidas</h2>
<mat-dialog-content class="dialog-content">
  <div *ngIf="data.medallas && data.medallas.length > 0; else noMedallas" class="medallas-grid">
    <div
      *ngFor="let medalla of data.medallas"
      class="medalla-item"
      [class.conseguida]="medalla.conseguida"
      [class.no-conseguida]="!medalla.conseguida"
      (click)="abrirDetalleMedalla(medalla)"
      [matTooltip]="medalla.conseguida ? (medalla.descripcion || 'Sin descripción') : ''"
      matTooltipPosition="above"
      matTooltipClass="medalla-tooltip"
      [matTooltipDisabled]="!medalla.conseguida"
    >
      <div class="medalla-icon-container">
        <img [src]="medalla.icono" [alt]="medalla.nombre" class="medalla-icon">
        <mat-icon *ngIf="medalla.conseguida" class="check-icon">check_circle</mat-icon>
      </div>
      <div class="medalla-nombre">{{ medalla.nombre | titlecase }}</div>
      <div *ngIf="!medalla.conseguida" class="medalla-placeholder-text">
      </div>
    </div>
  </div>
  <ng-template #noMedallas>
    <p class="no-medallas-text">Aún no has conseguido ninguna medalla. ¡Sigue esforzándote!</p>
  </ng-template>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="cerrarDialogo()" class="close-button">Cerrar</button>
</mat-dialog-actions>